# Bag-of-Words Model

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import TweetTokenizer
import pandas as pd

In [ ]:
corpus = ["La NEP fue oficialmente decidida en el 10° Congreso del Partido Comunista de la URSS", 
          "Al estado compartía con el Distrito Federal el sistema de lagos de la cuenca del valle de México o de Anahuac los cuales eran los lagos de Zumpango",
          "De las zonas sometidas venían las fibras de maguey de la más alta calidad"]

In [3]:
tknzr = TweetTokenizer()
bag = []
for row in corpus:
    word_list = tknzr.tokenize(row)
    for word in word_list:
        word = str(word).lower()
        if word not in bag:
            bag.append(word)
print(bag)

['la', 'nep', 'fue', 'oficialmente', 'decidida', 'en', 'el', '10', '°', 'congreso', 'del', 'partido', 'comunista', 'de', 'urss', 'al', 'estado', 'compartía', 'con', 'distrito', 'federal', 'sistema', 'lagos', 'cuenca', 'valle', 'méxico', 'o', 'anahuac', 'los', 'cuales', 'eran', 'zumpango', 'las', 'zonas', 'sometidas', 'venían', 'fibras', 'maguey', 'más', 'alta', 'calidad']

In [4]:
len(bag)

41

In [5]:
bow = CountVectorizer(analyzer='word', ngram_range=(1, 1))

In [6]:
features = bow.fit_transform(corpus)

In [7]:
features.toarray()

array([[1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
        2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 5, 0, 1, 1, 2, 0, 1, 1, 1, 0, 0,
        1, 2, 0, 2, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0]], dtype=int64)

In [8]:
df = pd.DataFrame(features.toarray(),
                  index=['stament '+str(i) for i in range(1, 1+len(corpus))],
                  columns=bow.get_feature_names_out())

In [9]:
df

,10,al,alta,anahuac,calidad,compartía,comunista,con,congreso,cuales,...,nep,oficialmente,partido,sistema,sometidas,urss,valle,venían,zonas,zumpango
stament 1,1,0,0,0,0,0,1,0,1,0,...,1,1,1,0,0,1,0,0,0,0
stament 2,0,1,0,1,0,1,0,1,0,1,...,0,0,0,1,0,0,1,0,0,1
stament 3,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0